# Exploratory Analysis

In [1]:
# import pandas
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/egst-/Downloads/sample.csv')

In [3]:
df.sample(5)

,producto,presentacion,marca,categoria,catalogo,precio,fechaRegistro,cadenaComercial,giro,nombreComercial,direccion,estado,municipio,latitud,longitud
1974,LA VILLITA,1 KG. GRANEL. QUESO OAXACA,S/M,DERIVADOS DE LECHE,BASICOS,96.0,2011-01-10 00:00:00.000,WAL-MART,TIENDA DE AUTOSERVICIO,WAL MART SUCURSAL ECHEGARAY,EMILIANO ZAPATA NO. 7 ENTRE REFORMA Y CUAU...,MÉXICO,NAUCALPAN,19.483909,-99.233180
1110,RASTRILLOS DESECHABLES,PAQUETE CON 2. PRESTO BARBA. EXCEL,GILLETTE,ARTS. PARA EL CUIDADO PERSONAL,BASICOS,34.0,2011-01-10 00:00:00.000,COMERCIAL MEXICANA,TIENDA DE AUTOSERVICIO,COMERCIAL MEXICANA SUCURSAL INSURGENTES,PERPETUA NO. 35 ESQ. INSURGENTES SUR,DISTRITO FEDERAL,BENITO JUAREZ,19.366903,-99.181344
232,ELOTE,LATA 220 GR. EN GRANO,HERDEZ,HORTALIZAS FRESCAS,MERCADOS,8.5,2011-01-10 00:00:00.000,COMERCIAL MEXICANA,TIENDA DE AUTOSERVICIO,COMERCIAL MEXICANA SUCURSAL VILLAS DE LA HACIENDA,AV. LAGO DE GUADALUPE S/N ESQ. DE LAS VILLAS,MÉXICO,ATIZAPAN,NaN,NaN
135,ACEITE,BOTELLA 1 LT. MAIZ,LA GLORIA,ACEITES Y GRASAS VEG. COMESTIBLES,BASICOS,26.1,2011-01-10 00:00:00.000,COMERCIAL MEXICANA,TIENDA DE AUTOSERVICIO,COMERCIAL MEXICANA SUCURSAL VILLAS DE LA HACIENDA,AV. LAGO DE GUADALUPE S/N ESQ. DE LAS VILLAS,MÉXICO,ATIZAPAN,NaN,NaN
436,CIPROFLOX,CAJA CON 6 CAPSULAS DE 500 MG,"LABORATORIOS SENOSIAIN, S.A. DE C.V.",MEDICAMENTOS,MEDICAMENTOS,147.0,2011-01-10 00:00:00.000,COMERCIAL MEXICANA,TIENDA DE AUTOSERVICIO,COMERCIAL MEXICANA SUCURSAL VILLAS DE LA HACIENDA,AV. LAGO DE GUADALUPE S/N ESQ. DE LAS VILLAS,MÉXICO,ATIZAPAN,NaN,NaN

In [4]:
df.isna().any()

producto           False
presentacion       False
marca              False
categoria          False
catalogo           False
precio             False
fechaRegistro      False
cadenaComercial    False
giro               False
nombreComercial    False
direccion          False
estado             False
municipio          False
latitud             True
longitud            True
dtype: bool

In [5]:
df['cadenaComercial'].unique()

array(['ABASTECEDORA LUMEN', 'COMERCIAL MEXICANA', 'I.S.S.S.T.E.',
       'WAL-MART'], dtype=object)

## How many commercial chains are monitored, and therefore, included in this database?

In [6]:
df['cadenaComercial'].nunique()

4

## What are the top 10 monitored products by State?

In [7]:
df1 = df.groupby(['estado','producto'],as_index=False)\
   .agg({'marca':"count"}) \
   .sort_values(['estado','marca'],ascending=False) \
   .groupby('estado').head(10).rename(columns={'marca':'total'})

df1

               estado                 producto  total
491            MÉXICO                 REFRESCO     26
354            MÉXICO        DETERGENTE P/ROPA     24
508            MÉXICO                  SHAMPOO     19
331            MÉXICO           CHILES EN LATA     18
422            MÉXICO  LECHE ULTRAPASTEURIZADA     17
434            MÉXICO                 MAYONESA     17
524            MÉXICO          TOALLA FEMENINA     17
353            MÉXICO              DESODORANTE     15
520            MÉXICO              TELEVISORES     15
539            MÉXICO                  YOGHURT     15
80   DISTRITO FEDERAL        DETERGENTE P/ROPA     25
142  DISTRITO FEDERAL  LECHE ULTRAPASTEURIZADA     23
201  DISTRITO FEDERAL                 REFRESCO     22
59   DISTRITO FEDERAL           CHILES EN LATA     21
155  DISTRITO FEDERAL                 MAYONESA     20
215  DISTRITO FEDERAL                  SHAMPOO     18
222  DISTRITO FEDERAL              TELEVISORES     17
105  DISTRITO FEDERAL          GALLETAS DULCES     16
127  DISTRITO FEDERAL         JABON DE TOCADOR     16
101  DISTRITO FEDERAL                      FUD     14

## Which is the commercial chain with the highest number of monitored products?

In [8]:
df[['cadenaComercial','producto']].groupby('cadenaComercial', as_index = False)\
                                  .count() \
                                  .sort_values('producto',ascending=False).head(1)

      cadenaComercial  producto
1  COMERCIAL MEXICANA      1508

## Use the data to find an interesting fact.

In [9]:
top_6_Products =  df1['producto'].head(6).to_list()
top_6_Products

['REFRESCO',
 'DETERGENTE P/ROPA',
 'SHAMPOO',
 'CHILES EN LATA',
 'LECHE ULTRAPASTEURIZADA',
 'MAYONESA']

In [10]:
df4 =  df[['precio','producto','estado']][df['producto'].isin(top_6_Products)].groupby(['producto','estado']).mean()
df4

                                             precio
producto                estado
CHILES EN LATA          DISTRITO FEDERAL   6.912381
                        MÉXICO             7.620000
DETERGENTE P/ROPA       DISTRITO FEDERAL  36.917200
                        MÉXICO            39.182500
LECHE ULTRAPASTEURIZADA DISTRITO FEDERAL  12.693478
                        MÉXICO            12.400000
MAYONESA                DISTRITO FEDERAL  20.761000
                        MÉXICO            19.871176
REFRESCO                DISTRITO FEDERAL  13.004091
                        MÉXICO            13.544231
SHAMPOO                 DISTRITO FEDERAL  37.097778
                        MÉXICO            35.905263

In [11]:
df5 = df4.unstack(1)['precio']
(df5['MÉXICO'] -  df5['DISTRITO FEDERAL'] ).mean()

0.18954041626575466